<div class="mainTitle">cf.cookie</div>
<div class="content">
  <div>
    <span class="title">簡介</span>
  </div>
  <div class="subContent">
    設置和讀取 cookie
  </div>
</div>
<div class="content">
  <div>
    <span class="title">函式</span>
  </div>
  <div class="subContent">
    <div>
      <div>setCookie(cookieName, val, opt = {}) : 設置 cookie</div>
      <div><span class="tip">opt 參數</span></div>
      <div>exdays : 有效天數</div>
      <div>path : 路徑</div>
      <div>domain : 網域</div>
    </div>
  </div>
  <div class="subContent">
    <div class="code">
      <div>
        請輸入 cookie 的 key : <input id="setCookieName" type="text" value="user"/>
        請輸入 cookie 的 val: <input id="setCookieVal" type="text" value="caro"/>

        <div class="btn1" id="setCookieBtn">設置</div>
      </div>
      請輸入 cookie 的 key : <input id="getCookieName" type="text" value="user"/>

      <div class="btn1" id="getCookieBtn">取得</div>
    </div>
  </div>
</div>
</div>