<table id="menuMain" cellpadding="0" cellspacing="0">
  <tr>
    <td>
      <div id="menuBtn">M<br/>e<br/>n<br/>u</div>
    </td>
    <td>
      <div id="menuContent">
        <div class="menuItem" id="menuCf"> cf</div>
        <div class="menuItem" id="menuAjax"> cf.ajax</div>
        <div class="menuItem" id="menuAlert"> cf.alert</div>
        <div class="menuItem" id="menuCookie"> cf.cookie</div>
        <div class="menuItem" id="menuRouter"> cf.router</div>
      </div>
    </td>
  </tr>
</table>