<div class="mainTitle">cf.routeAnimate</div>
<div class="content">
  <div class="title">簡介</div>
  <div class="subContent">
    擴充換頁效果, 需搭配函式庫 gsap(TweenMax)
  </div>
</div>
<div class="content">
  <div class="title">函式</div>
  <div class="subContent">
    <div class="tip2">
      left([opt={}]): 頁面左移換場效果
      <div id="setLeftBtn" class="btn2">設定換頁效果</div>
    </div>
    <div class="subTitle">opt 參數</div>
    <div>duration: 換頁時間, 預設 0.8 秒</div>
  </div>
  <div class="subContent">
    <div class="tip2">
      right([opt={}]): 頁面右移換場效果
      <div id="setRightBtn" class="btn2">設定換頁效果</div>
    </div>
    <div class="subTitle">opt 參數</div>
    <div>duration: 換頁時間, 預設 0.8 秒</div>
  </div>
  <div class="subContent">
    <div class="tip2">
      scale([opt={}]): 縮放換場效果
      <div id="setScaleBtn" class="btn2">設定換頁效果</div>
    </div>
    <div class="subTitle">opt 參數</div>
    <div>duration: 換頁時間, 預設 0.8 秒</div>
  </div>
  <div class="subContent">
    <div class="tip2">
      fade([opt={}]): fade 換場效果
      <div id="setFadeBtn" class="btn2">設定換頁效果</div>
    </div>
    <div class="subTitle">opt 參數</div>
    <div>duration: 換頁時間, 預設 0.8 秒</div>
  </div>
  <div class="subContent">
    <div class="tip2">
      clear([opt={}]): 清除換場效果
      <div id="setClearBtn" class="btn2">設定換頁效果</div>
    </div>
  </div>
</div>