table(cellpadding='10')
  tr
    td
      #headerTitle
        img.headerTitleImg(src='images/cf_title2.png')
    td
      #headerMenu
        a.headerBtn(href='https://github.com/carozozo/caro-front/zipball/master')
          span.linkWord Download as
          |  .zip
        a.headerBtn(href='https://github.com/carozozo/caro-front/tarball/master')
          span.linkWord Download as
          |  .tar.gz
        a.headerBtn(href='https://github.com/carozozo/caro-front')
          span.githubIcon
          span.linkWord View on
          |  GitHub