#menuBtnBox
  #libBtnOuter
    #libBtn
      | L
      br
      | i
      br
      | b
      br
  #moduleBtnOuter
    #moduleBtn
      | M
      br
      | o
      br
      | d
      br
      | u
      br
      | l
      br
      | e
      br
#libMenuItemBox
  #cf.menuItem cf
  #cookie.menuItem cf.cookie
  #detect.menuItem cf.detect
  #routeAnimate.menuItem cf.routeAnimate
  #router.menuItem cf.router
  #unit.menuItem cf.unit

#moduleMenuItemBox
  #cfAddrDropdown.menuItem 地址下拉選單
  #cfCircleShow.menuItem 轉盤輪播
  #cfDateDropdown.menuItem 日期下拉選單
  #cfImgSwitch.menuItem 切換圖片
  #cfJumpNum.menuItem 亂數數字效果
  #cfListDom.menuItem 資料列表
  #cfModal.menuItem 浮動視窗
  #cfMouseStyle.menuItem 客製化滑鼠
  #cfPiece.menuItem 切割效果
  #cfPreLoad.menuItem 檔案讀取
  #cfRandomDrop.menuItem 亂數水滴
  #cfScale.menuItem 同步縮放
  #cfScroll.menuItem 捲軸定位
  #cfScrollbar.menuItem 客製化捲軸
  #cfSplitText.menuItem 文字切割效果
  #cfSwitchShow.menuItem 輪播效果
  #cfSyncMove.menuItem 隨滑鼠同步移動
  #cfValidator.menuItem 表單驗證
  #cfWheel.menuItem 監聽滑鼠滾輪
  #dom.menuItem dom