#menuBtnBox
  #libBtnOuter
    #libBtn
      | L
      br
      | i
      br
      | b
      br
  #moduleBtnOuter
    #moduleBtn
      | M
      br
      | o
      br
      | d
      br
      | u
      br
      | l
      br
      | e
      br
#libMenuItemBox
  #cf.menuItem cf
  #cookie.menuItem cf.cookie
  #detect.menuItem cf.detect
  #routeAnimate.menuItem cf.routeAnimate
  #router.menuItem cf.router
  #unit.menuItem cf.unit

#moduleMenuItemBox
  #cfAddrDropdown.menuItem cfAddrDropdown
  #cfCircleShow.menuItem cfCircleShow
  #cfDateDropdown.menuItem cfDateDropdown
  #cfImgSwitch.menuItem cfImgSwitch
  #cfJumpNum.menuItem cfJumpNum
  #cfListDom.menuItem cfListDom
  #cfModal.menuItem cfModal
  #cfMouseStyle.menuItem cfMouseStyle
  #cfPiece.menuItem cfPiece
  #cfPreLoad.menuItem cfPreLoad
  #cfRandomDrop.menuItem cfRandomDrop
  #cfScale.menuItem cfScale
  #cfScroll.menuItem cfScroll
  #cfScrollbar.menuItem cfScrollbar
  #cfSplitText.menuItem cfSplitText
  #cfSwitchShow.menuItem cfSwitchShow
  #cfSyncMove.menuItem cfSyncMove
  #cfValidator.menuItem cfValidator
  #cfWheel.menuItem cfWheel
  #dom.menuItem dom