.mainTitle cfJumpNum
.content
  .title 示範
  div
    .separator2
    #jumpNumBtn.btn2 intervalNum
    #addNumBtn.btn2 intervalAddNm
    span#jumpNum 0
.content
  .title 簡介
  div
    | 數字會亂跳, 最後顯示結果
.content
  .title 參數
  div
    .tip5 $('xxx').cfJumpNum();
.content
  .title 函式
  div
    .tip2 intervalNum(targetNum, [opt = {}]): 在指定的時間內, 數字會亂跳, 時間到會顯示目標數字
    .subTitle4 參數
    div
      div targetNum: 最後要顯示的數字
      .subTitle1 opt 參數
      div
        div ms: 每幾毫秒跳一次, 預設 100
        div range: 每次增加的數字範圍, 預設 1
    .tip2 intervalAddNm(targetNum, [opt = {}]): 在指定的時間內, 數字會亂數增加到目標數字為止
    .subTitle4 參數
    div
      div targetNum: 最後要顯示的數字
      .subTitle1 opt 參數
      div
        div ms: 每幾毫秒跳一次, 預設 100
        div range: 跳動的數字範圍, 預設 100000