.mainTitle cfModal
.content
  .title 示範
  div
    span.codeLink 開啟 modal 視窗
    .codeTarget This is Modal
.content
  .title 簡介
  div modal 視窗
.content

  .title 參數
  div
    .tip4 $('xxx').cfModal([opt = {}])
    .subTitle1 opt 參數
    div isClickClose: 是否點選內容之外的部分就 close modal, 預設 true
    div befShow: 顯示視窗之前觸發的 cb(), return false 則不顯示
    div aftShow: 顯示視窗之後觸發的 cb()
    div befHide: 關閉視窗之前觸發的 cb(), return false 則不關閉
    div aftHide: 關閉視窗之後觸發的 cb()
.content
  .title 函式
  div
    .tip2 showModal(): 顯示視窗
    .tip2 hideModal(): 關閉視窗