.mainTitle cfPiece
.content
  .title 示範
  div
    div
      | y 切成
      input#particleY.input40(type='text', value='3')
      | 等份,
      span.tab1 x 切成
      input#particleX.input40(type='text', value='3')
      | 等份
      #seperateBtn.btn2 分割
      #reverseBtn.btn2 回復
    .separator1
    div 滑鼠移到圖片上可看到切片的順序
    .separator1
    img#blockMain(src='images/caro-front.png')
.content
  .title 簡介
  div
    div 切片效果, 切片後 $self 會隱藏
    div.tip3 注意切片後為固定寬高, 只繼承 $self 的 css position
    div.tip3 切片後請自行調整 css 以避免跑版
.content
  .title 參數
  div
    .tip5 $('xxx').cfPiece([particleY = 3], [particleX = 3], [opt = {}]);
      span.codeLink 程式範例
      .codeTarget
        div.subTitle2 html
        div
          div &lt;div id='img' style='position:static;'&gt;...&lt;/div&gt;
        .separator2
        div.subTitle2 js
        div
          div var $img = $('#img').cfPiece(2, 3, {
          .tab1 befPiece: function(yIndex, xIndex) {
          .tab2 ...
          .tab1 },
          .tab1 aftPiece: function($piece, yIndex, xIndex) {
          .tab2 ...
          .tab1 }
          div });
        .separator2
        .subTitle2 產生的切片 html 結構
        div
          div.colorGray2 &lt;!-- $self 被設為隱藏 --&gt;
          div &lt;div id='img' style='position:static; display:none;'&gt;...&lt;/div&gt;
          div.colorGray2 &lt;!-- $img.$pieceContainer --&gt;
          div &lt;div class='cfPieceContainer' style='position: static;'&gt;
          .tab1.colorGray2 &lt;!-- $img.$pieceInnerContainer --&gt;
          .tab1 &lt;div class='cfPieceInnerContainer' style='position: relative;'&gt;
          .tab2.colorGray2 &lt;!-- 每個產生的 $piece 切片 --&gt;
          .tab2 &lt;div class='cfPiece'&gt;...&lt;/div&gt;
          .tab1 &lt;/div&gt;
          div &lt;/div&gt;
    div particleY: y 切成幾等份
    div particleX: x 切成幾等份
    .subTitle1 opt 參數
    div
      div pefPiece: 每次置入 $piece 前呼叫的 cb(yIndex, xIndex), return false 則不值置入
      div aftPiece: 每次置入 $piece 後呼叫的 cb($piece, yIndex, xIndex)
    .subTitle4 $self 附加屬性
    div
      div $pieceContainer: 外部切片的容器, 繼承 $self 的 css position 屬性
      div $pieceInnerContainer: 內部切片容器, 協助切片定位
.content
  .title 函式
  div
    .tip2 reversePiece: 回復成切割前的狀態