.mainTitle cfScrollbar
.content
  .title 示範
  div
    #outer.block
      #inner1
      #inner2
.content
  .title 簡介
  div
    div 自訂捲軸樣式, 客製化外掛 jquery.mCustomScrollbar 使用方式
    div Depend on
      a(href='http://manos.malihu.gr/jquery-custom-content-scroller/', target='_blank') jquery.mCustomScrollbar
.content
  .title 參數
  div
    .tip4 $('xxx').cfScrollbar([styleOpt = {}], [scrollBarOpt = {}])
    .tip1 styleOpt 參數
      div
        div name: 捲軸名稱
        div barCss: 捲軸按鈕樣式
        div lineCss: 捲軸樣式
    div scrollBarOpt: 同 jquery.mCustomScrollbar 參數