.mainTitle cfSyncObjVal
.content
  .title 示範
  div
    .separator1
    #target a: {{a}}, b: {{b}}
    .separator2
    div 設置物件 obj = {a: 1, b: 2}
      #setBtn1.btn2 設置
      span.codeLink 程式範例
        .codeTarget
          .subTitle2 html
          div
            div &lt;div id='target'&gt;a: {{a}}, b: {{b}}&lt;div/&gt;
            div &lt;input type='button' id='setBtn1' value='設置'/&gt;
            div &lt;input type='button' id='setBtn2' value='設置'/&gt;
          .separator2
          .subTitle2 js
          div
            div var obj = {a: 1, b: 2}
            div $('#setBtn1').on('click', function() {
            .tab1 $('#target').cfSyncObjVal(obj);
            div });
            div $('#setBtn2').on('click', function() {
            .tab1 obj.a = 'Caro';
            div });
            div ...
    div#otherBtnsBox
      .separator1
      div 設置物件 obj.a = 'Caro'
        #setBtn2.btn2 設置
      .separator1
      div 設置物件 obj.b = 'Front'
        #setBtn3.btn2 設置
      .separator1
      div 設置物件 obj.a = null
        #setBtn4.btn2 設置
      .separator1
      div 回到一開始的狀態
        #resetBtn.btn2 設置
.content
  .title 簡介
  div
    div 偵測 obj 的值並寫入對應的 html
    .tip3 html 中對應的 key 用 {{}} 包起來
.content
  .title 參數
  div
    .tip5 $('xxx').cfSyncObjVal(要顯示在 html 的資料物件);