.mainTitle dom
.content
  .title 簡介
  div
    div DOM 選取器, 支援一些方便的程式
.content
  .title 參數
  div
    div
      .tip5 $('xxx').dom([cb]): 賦予本身 dom 屬性
      .tip5 $('xxx').dom(selector, [cb]): 相當於
        a(href='https://api.jquery.com/find/', target='_blank') .find(selector)
        | , 並賦予 dom 屬性
      div selector: 目標選擇器
      div cb: 呼叫之後觸發的 fn($self), $self 就是 DOM 本身
      span.codeLink 程式範例
      .codeTarget
        .subTitle2 html
        div
          div &lt;div id='#xx'&gt; &lt;div id='#yy'&gt;  &lt;/div&gt; &lt;/div&gt;
        .subTitle2 js
        div
          div var $xx = $('#xx').dom();
          div var id = $xx.id();
            span.tip3  // 'xx'
          .separator2
          .tip2 // 相當於 $xx.find('#yy').dom()
          div var $yy = $xx.dom('#yy');
          div var id = $yy.id();
            span.tip3  // 'yy'
        .subTitle2 js 另一種包裝式寫法
        div
          div var $xx = $('#xx').dom(function($dom){
          .tab1.tip2 // $dom 就相當於 $xx
          div });
.content
  .title 函式
  div
    .tip2 id([id]): 設置/取得 id
    .tip2 name([name]): 設置/取得 name
    .tip2 aClass([class]): 設置/取得 class
    .tip2 title([title]): 設置/取得 title
    .tip2 src([src]): 設置/取得 src
    .tip2 href([href, target]): 設置/取得 href
    .tip2 ifVisible(): 是否為可見
    .tip2 ifHidden(): 是否為隱藏
    .tip2 enable(): 設為 enable
    .tip2 disable(): 設為 disable
    .tip2 sethecked([checked = true]): 設為 checked / unchecked
    .tip2 ifChecked(): 是否為 checked
    .tip2 getCssDistance(cssType): 取得 css 設置的 top/left/right/bottom...等距離
      span.codeLink 程式範例
    .codeTarget
      .subTitle2 假設 $('#xx') 的 css top: 10px
      div
        div $('#xx').dom().getCssDistance('top');
          span.tip3  // 10
        div $('#xx').css('top');
          span.tip3  // '10px'
    .subTitle4 參數
    div
      div cssType: 'top'/'left'/'right'/'bottom'/'margin-left'....
    .tip2 getCss(type): 取得 css 的屬性
      span.codeLink 程式範例
    .codeTarget
      .subTitle2 假設 $('#xx') 的 css width: 100%, margin-top: 10%
      div
        div var $dom = $('#xx').dom();
        div var width1 = $dom.getCss('width');
          span.tip3  // '100%'
        div var width2 = $dom.css('width');
          span.tip3  // '??px'
        div var top1 = $dom.getCss('margin-top');
          span.tip3  // '10%'
        div var top2 = $dom.css('margin-top');
          span.tip3  // '??px'
    .tip2 setCursor([cursor = 'pointer']): 設置滑鼠指標
    .tip2 blurUpperCase([nameSpace]): 觸發 blur 後, 將裡面的值 String.trim() 之後轉大寫
    .tip2 action(eventName, fn): 同等 $('xxx').off('event').on('event',function(){}), 避免重複綁定
    .tip2 onClick(fn, [nameSpace]): $('xxx').off('click').on('click') 方便使用版, 滑鼠移到上面會自動轉成手指
    .tip2 onPressEnter(fn, [nameSpace]): 按下 Enter 鍵後觸發的 fn, 綁定 keyup
    .tip2 onPressEsc(fn, [nameSpace]): 按下 Esc 鍵後觸發的 fn, 綁定 keyup
    .tip2 eachDom(cb):
      a(href='https://api.jquery.com/each/', target='_blank') .each()
      |  進階版, 直接賦予 dom 屬性
      span.codeLink 程式範例
    .codeTarget
      div $('.xx').eachDom(function($dom, i){
      .tab1.tip2 // $dom 相當於 $(this), 並且可以調用 dom 的屬性
      .tab1 $dom.onClick(...);
      div });
    .subTitle4 參數
    div
      div cb: 呼叫之後觸發的 fn($dom, index)
    .tip2 coverToArr(cb):
      a(href='http://api.jquery.com/jQuery.map/', target='_blank') $.map()
      |  進階版, 直接賦予 dom 屬性, 並回傳 dom array
      span.codeLink 程式範例
        .codeTarget
          .tip2 // $domList 相當於 $('.xx') 取得的每個 DOM 組成的 array
          div var $domList = $('.xx').coverToArr(function($dom, i){
          .tab1.tip2 // $dom 相當於 $(this), 並且可以調用 dom 的屬性
          .tab1 $dom.onClick(...);
          div });
    .subTitle4 參數
    div
      div cb: 呼叫之後觸發的 fn($dom, index)
    .tip2 ifEmpty(): 判斷本身是否沒任何 html 內容
      span.codeLink 程式範例
    .codeTarget
      .subTitle2 &lt;div id='#xx'&gt;caro-front&lt;/div&gt;
      div $('.xx').dom().ifEmpty();
        span.tip3  // false
      .subTitle2 &lt;div id='#xx'&gt;&lt;/div&gt;
      div $('.xx').dom().ifEmpty();
        span.tip3  // true
    .tip2 getHtml(): 取得包含本身的 html code
      span.codeLink 程式範例
    .codeTarget
      .subTitle2 &lt;div id='#xx'&gt;caro-front&lt;/div&gt;
      div
        div $('.xx').dom().getHtml();
          span.tip3  // &lt;div id='#xx'&gt;caro-front&lt;/div&gt;
        div $('.xx').html();
          span.tip3  // caro-front