@import "variable"

#bg
  position fixed
  width 100%
  height 100%
  overflow hidden
  z-index 5

#bgFloor
  position absolute
  top: 50%

.bgBlock
  position absolute
  width 20px
  height 20px

.bgBlock1
  @extend .bgBlock
  background alpha(colorGray1, 0.2)

.bgBlock2
  @extend .bgBlock
  background alpha(colorGray2, 0.2)