@import "basic"

#bg
  position fixed
  width 100%
  height 100%
  overflow: hidden
  z-index 5

#bgContainer
  position absolute
  top 10%
  width 100%
  height 100%
  opacity .2

.bgBlock
  position absolute
  background colorGray1
  width 20px
  height 20px