@import "variable"

.colorGray {
  color: colorGray2
}

.colorGreen {
  color: colorGreen2
}

.colorRed {
  color: colorRed2
}

.colorBlue {
  color: colorBlue2
}

.colorYellow {
  color: colorYellow2
}

.colorDark {
  color: colorDark
}