colorGray1 = #bdbdbd
colorGray2 = darken(#bdbdbd, 30%)
colorGray3 = darken(#bdbdbd, 60%)
colorGreen1 = #8cbb2e
colorGreen2 = darken(#8cbb2e, 30%)
colorGreen3 = darken(#8cbb2e, 60%)
colorRed1 = #c72228
colorRed2 = darken(#c72228, 30%)
colorRed3 = darken(#c72228, 60%)
colorBlue1 = #33adc7
colorBlue2 = darken(#33adc7, 30%)
colorBlue3 = darken(#33adc7, 60%)
colorYellow1 = #c7c738
colorYellow2 = darken(#c7c738, 30%)
colorYellow3 = darken(#c7c738, 60%)
colorWhite = #e5e5e5
colorDark = #1e1e1e

.menuBtnOuter
  position fixed
  width: 100px
  right -45px
  border-left solid 3px
  border-top solid 3px
  border-bottom solid 3px
  z-index 9999

#libBtnOuter
  @extend .menuBtnOuter
  top 130px
  background colorRed2
  border-color colorWhite

#moduleBtnOuter
  @extend .menuBtnOuter
  top 290px
  background colorBlue2
  border-color colorWhite

.menuBtn
  padding 30px 15px
  width: 25px
  cursor pointer
  text-align center

#libBtn
  @extend .menuBtn

#moduleBtn
  @extend .menuBtn

.menuItemBox
  width: 100%
  height: 100%

#libMenuItemBox
  @extend .menuItemBox

#moduleMenuItemBox
  @extend .menuItemBox

.menuItem
  display inline-block
  cursor pointer
  font-size: 1.5em
  text-align center
  padding 15px
  margin 10px 10px
  color colorWhite
  background colorDark
  border 3px solid colorWhite
  min-width 70px
  &:hover
    color colorGray1
    background colorWhite