colorGray1 = #bdbdbd
colorGray2 = darken(#bdbdbd, 30%)
colorGray3 = darken(#bdbdbd, 60%)
colorGreen1 = #8cbb2e
colorGreen2 = darken(#8cbb2e, 30%)
colorGreen3 = darken(#8cbb2e, 60%)
colorRed1 = #c72228
colorRed2 = darken(#c72228, 30%)
colorRed3 = darken(#c72228, 60%)
colorBlue1 = #33adc7
colorBlue2 = darken(#33adc7, 30%)
colorBlue3 = darken(#33adc7, 60%)
colorYellow1 = #c7c738
colorYellow2 = darken(#c7c738, 30%)
colorYellow3 = darken(#c7c738, 60%)
colorWhite = #e5e5e5
colorDark = #1e1e1e

#menuMain
  position fixed
  right 0
  top 130px
  z-index 9999

.menuBtn
  padding 30px 15px
  cursor pointer
  text-align center

#libBtn
  background colorRed2

#moduleBtn
  margin-top 10px
  background colorBlue2

.menuContent
  margin-top -50px
  padding 50px 0 50px 50px

.innerBox
  display inline-block
  vertical-align top

.menuItem
  cursor pointer
  text-align center
  padding 5px 10px
  margin 5px 0 5px auto
  color colorWhite
  background colorDark
  border 3px solid colorWhite
  min-width 70px
  &:hover
    color colorDark
    background colorWhite