colorGray1 = #bdbdbd
colorGray2 = darken(#bdbdbd, 30%)
colorGray3 = darken(#bdbdbd, 60%)
colorGreen1 = #8cbb2e
colorGreen2 = darken(#8cbb2e, 30%)
colorGreen3 = darken(#8cbb2e, 60%)
colorRed1 = #c72228
colorRed2 = darken(#c72228, 30%)
colorRed3 = darken(#c72228, 60%)
colorBlue1 = #33adc7
colorBlue2 = darken(#33adc7, 30%)
colorBlue3 = darken(#33adc7, 60%)
colorYellow1 = #c7c738
colorYellow2 = darken(#c7c738, 30%)
colorYellow3 = darken(#c7c738, 60%)
colorWhite = #e5e5e5
colorDark = #1e1e1e

menuBtn
  position fixed
  right 0
  padding 30px 15px
  width: 25px
  cursor pointer
  text-align center
  z-index 9999

#libBtn
  @extend menuBtn
  top 130px
  background colorRed2

#moduleBtn
  @extend menuBtn
  top 270px
  background colorBlue2

itemBox
  width: 100%
  height: 100%

#libMenuItemBox
  @extend itemBox

#moduleMenuItemBox
  @extend itemBox

.menuItem
  display inline-block
  cursor pointer
  font-size: 1.5em
  text-align center
  padding 15px
  margin 10px 10px
  color colorWhite
  background colorDark
  border 3px solid colorWhite
  min-width 70px
  &:hover
    color colorDark
    background colorWhite