colorGray1 = lighten(#7d7d7d, 30%)
colorGray2 = #7d7d7d
colorGray3 = darken(#7d7d7d, 30%)
colorGreen1 = lighten(#4f6a1a, 30%)
colorGreen2 = #4f6a1a
colorGreen3 = darken(#4f6a1a, 30%)
colorRed1 = lighten(#8b181c, 30%)
colorRed2 = #8b181c
colorRed3 = darken(#8b181c, 30%)
colorBlue1 = lighten(#227d83, 30%)
colorBlue2 = #227d83
colorBlue3 = darken(#227d83, 30%)
colorYellow1 = lighten(#818124, 30%)
colorYellow2 = #818124
colorYellow3 = darken(#818124, 30%)
colorWhite = #e1e1e1
colorDark = #252525