
<div id="headerContent">
  <div id="headerTitle"><img class="headerTitleImg" src="images/cf_title2.png"/></div>
  <div id="headerMenu"><a class="headerBtn" href="https://github.com/carozozo/caro-front/zipball/master"><span class="linkWord">Download as</span> .zip</a><a class="headerBtn" href="https://github.com/carozozo/caro-front/tarball/master"><span class="linkWord">Download as</span> .tar.gz</a><a class="headerBtn" href="https://github.com/carozozo/caro-front"><span class="githubIcon"></span><span class="linkWord">View on</span> GitHub</a></div>
</div>
<div id="headerBg">
  <div class="strip"></div>
</div>