
<table cellpadding="10">
  <tr>
    <td><img id="headerTitle" src="images/cf_title2.png"/></td>
    <td>
      <div id="headerMenu"><a class="headerBtn" href="https://github.com/carozozo/caro-front/zipball/master"><span class="linkWord">Download as</span> .zip</a><a class="headerBtn" href="https://github.com/carozozo/caro-front/tarball/master"><span class="linkWord">Download as</span> .tar.gz</a><a class="headerBtn btn2-github" href="https://github.com/carozozo/caro-front"><span class="icon"></span><span class="linkWord">View on</span> GitHub</a></div>
    </td>
  </tr>
</table>