#menuBtnBox
  #libBtn
    | L
    br
    | i
    br
    | b
    br
  #moduleBtn
    | M
    br
    | o
    br
    | d
    br
    | u
    br
    | l
    br
    | e
    br
#libMenuItemBox
  #cf.menuItem cf
  #ajax.menuItem cf.ajax
  #alert.menuItem cf.alert
  #cookie.menuItem cf.cookie
  #fb.menuItem cf.fb
  #ga.menuItem cf.ga
  #routeAnimate.menuItem cf.routeAnimate
  #router.menuItem cf.router
  #unit.menuItem cf.unit

#moduleMenuItemBox
  #cfAddrDropdown.menuItem cfAddrDropdown
  #cfCircleShow.menuItem cfCircleShow
  #cfDateDropdown.menuItem cfDateDropdown
  #cfImgSwitch.menuItem cfImgSwitch
  #cfJumpNum.menuItem cfJumpNum
  #cfListDom.menuItem cfListDom
  #cfModal.menuItem cfModal
  #cfMouseStyle.menuItem cfMouseStyle
  #cfPreLoad.menuItem cfPreLoad
  #cfRandomDrop.menuItem cfRandomDrop
  #cfScale.menuItem cfScale
  #cfScroll.menuItem cfScroll
  #cfScrollbar.menuItem cfScrollbar
  #cfSwitchShow.menuItem cfSwitchShow
  #cfSyncMove.menuItem cfSyncMove
  #cfValidator.menuItem cfValidator
  #cfWheel.menuItem cfWheel
  #dom.menuItem dom
//#menuLibContent.menuContent
//  #menuLibItemBox.menuItemBox
//    .innerBox
//      #cf.menuItem cf
//      #ajax.menuItem cf.ajax
//      #alert.menuItem cf.alert
//      #cookie.menuItem cf.cookie
//      #fb.menuItem cf.fb
//      #ga.menuItem cf.ga
//      #routeAnimate.menuItem cf.routeAnimate
//      #router.menuItem cf.router
//      #unit.menuItem cf.unit
//#menuModuleContent.menuContent
//  #menuModuleItemBox.menuItemBox
//    .innerBox
//      #cfWheel.menuItem cfWheel
//      #dom.menuItem dom
//    .innerBox
//      #cfPreLoad.menuItem cfPreLoad
//      #cfRandomDrop.menuItem cfRandomDrop
//      #cfScale.menuItem cfScale
//      #cfScroll.menuItem cfScroll
//      #cfScrollbar.menuItem cfScrollbar
//      #cfSwitchShow.menuItem cfSwitchShow
//      #cfSyncMove.menuItem cfSyncMove
//      #cfValidator.menuItem cfValidator
//    .innerBox
//      #cfAddrDropdown.menuItem cfAddrDropdown
//      #cfCircleShow.menuItem cfCircleShow
//      #cfDateDropdown.menuItem cfDateDropdown
//      #cfImgSwitch.menuItem cfImgSwitch
//      #cfJumpNum.menuItem cfJumpNum
//      #cfListDom.menuItem cfListDom
//      #cfModal.menuItem cfModal
//      #cfMouseStyle.menuItem cfMouseStyle