<div id="menuBtnBox">
  <div class="menuBtn" id="libBtn">L<br/>i<br/>b<br/></div>
  <div class="menuBtn" id="moduleBtn">M<br/>o<br/>d<br/>u<br/>l<br/>e<br/></div>
</div>
<div class="menuContent" id="menuLibContent">
  <div class="menuItemBox" id="menuLibItemBox">
    <div class="innerBox">
      <div class="menuItem" id="cf">cf</div>
      <div class="menuItem" id="ajax">cf.ajax</div>
      <div class="menuItem" id="alert">cf.alert</div>
      <div class="menuItem" id="cookie">cf.cookie</div>
      <div class="menuItem" id="fb">cf.fb</div>
      <div class="menuItem" id="routeAnimate">cf.routeAnimate</div>
      <div class="menuItem" id="router">cf.router</div>
      <div class="menuItem" id="unit">cf.unit</div>
    </div>
  </div>
</div>
<div class="menuContent" id="menuModuleContent">
  <div class="menuItemBox" id="menuModuleItemBox">
    <div class="innerBox">
      <div class="menuItem" id="cfValidator">cfValidator</div>
      <div class="menuItem" id="cfWheel">cfWheel</div>
      <div class="menuItem" id="dom">dom</div>
    </div>
    <div class="innerBox">
      <div class="menuItem" id="cfPreLoad">cfPreLoad</div>
      <div class="menuItem" id="cfRandomDrop">cfRandomDrop</div>
      <div class="menuItem" id="cfScale">cfScale</div>
      <div class="menuItem" id="cfScroll">cfScroll</div>
      <div class="menuItem" id="cfScrollbar">cfScrollbar</div>
      <div class="menuItem" id="cfSwitchShow">cfSwitchShow</div>
      <div class="menuItem" id="cfSyncMove">cfSyncMove</div>
      <div class="menuItem" id="cfUpload">cfUpload</div>
    </div>
    <div class="innerBox">
      <div class="menuItem" id="cfAddrDropdown">cfAddrDropdown</div>
      <div class="menuItem" id="cfCircleShow">cfCircleShow</div>
      <div class="menuItem" id="cfDateDropdown">cfDateDropdown</div>
      <div class="menuItem" id="cfImgSwitch">cfImgSwitch</div>
      <div class="menuItem" id="cfJumpNum">cfJumpNum</div>
      <div class="menuItem" id="cfListDom">cfListDom</div>
      <div class="menuItem" id="cfModal">cfModal</div>
      <div class="menuItem" id="cfMouseStyle">cfMouseStyle</div>
    </div>
  </div>
</div>
<div id="menuContentBox">
</div>