<div class="mainTitle">cf.router</div>
<div class="content">
  <div class="title">簡介</div>
  <div class="subContent">
    換頁函式庫, 使用 $.ajax 切換頁面, 並利用 url hash 記錄
  </div>
</div>
<div class="content">
  <div class="title">設定檔</div>
  <div class="subContent">
    <div>container: 頁面容器的 html id, 沒設置時, 預設容器為 $('body')</div>
  </div>
</div>
<div class="content">
  <div class="title">屬性</div>
  <div class="subContent">
    <div>$container : 當前頁面的容器 DOM </div>
    <div>$page : 當前頁面 DOM</div>
    <div>_befPage : 紀錄換頁前會執行的 fn s</div>
    <div>_prePage : 紀錄載入頁面前會執行的 fns </div>
    <div>_page : 當載入頁面後要執行的指定 fn  </div>
    <div>_aftPage : 紀錄載入頁面後會執行的 fn s</div>
    <div>_transitionFn : 紀錄當前換頁效果 fn </div>
    <div>pageName : 當前頁面名稱 </div>
  </div>
</div>
<div class="content">
  <div class="title">函式</div>
  <div class="subContent">
    <div class="tip2">
      getPageByHash([hash]) : 依照 url 的 hash 判斷目前的 page
      <div id="getPageBtn" class="btn2">Get Page Name</div>
    </div>
    <div class="tip2">
      getSearchByHash([hash]) : 依照 url 的 hash 判斷目前的 search
      <div id="getSearchBtn" class="btn2">Get Search</div>
    </div>
    <div class="tip2">
      parseUrlSearch() : 依照 url 的 hash 裡面的 search 轉為 obj
      <div id="getSearchObjBtn" class="btn2">Get SearchObj</div>
    </div>
    <div class="tip2">regBefPage(fn, [執行順序=50]) : 註冊每次換頁前要執行的 fn</div>
    <div class="tip2">regPrePage(fn, [執行順序=50]) : 註冊每次載入頁前要執行的 fn</div>
    <div class="tip2">regAftPage(fn, [執行順序=50]) : 註冊每次載入頁後要執行的 fn</div>
    <div class="tip2">regPage(註冊頁面, fn) : 註冊載入指定頁面後要執行的 fn</div>
    <div class="tip2">
      goPage([頁面名稱]) : 換頁, 沒參數時會依據 url 的 hash 自動判斷
      <div id="goPageBtn1" class="btn2">goPage('router')</div>
      <div id="goPageBtn2" class="btn2">goPage()</div>
      <div id="goPageBtn3" class="btn2">goPage('router?name=pikachu&age=200')</div>
    </div>
    <div class="tip2">
      blockGoPage() : 呼叫後, 執行 router.goPage 不會換頁
      <div id="blockGoPageBtn" class="btn2">Block Go Page</div>
    </div>
    <div class="tip2">
      approveGoPage() : 呼叫後, 所有的 router.goPage 可以換頁  
      <div id="approveGoPageBtn" class="btn2">Approve Go Page</div>
    </div>
  </div>
</div>
<div class="content">
  <div class="title">goPage 執行流程</div>
  <div class="subContent">
    <div>執行儲存在 _befPage 裡的 fns</div>
    <div>取得要跳轉的頁面名稱</div>
    <div>透過 ajax 從 template 取得對應的 html</div>
    <div>執行儲存在 _prePage 裡的 fns</div>
    <div>移除原本的 page 內容, 並置入目標頁面內容</div>
    <div>執行對應的 _page fn</div>
    <div>執行儲存在 _aftPage 裡的 fns</div>
  </div>
</div>