<div class="title">cf.router 介紹</div>
<div class="content">
  <div class="subTitle">
     <span>屬性</span>
  </div>
  <div class="subContent">
    <div class="list">$page : 當前的頁面 DOM </div>
    <div class="list">_prePage : 紀錄換頁前會執行的 fn </div>
    <div class="list">_page : 當前頁前會執行的 fn  </div>
    <div class="list">_aftPage : 紀錄換頁後會執行的 fn </div>
    <div class="list">pageName : 當前頁面名稱 </div>
    <div class="list">transitionFn : 紀錄當前換頁效果 fn </div>
  </div>
  <div class="subTitle">
    <span>函式</span>
  </div>
  <div class="subContent">
    <div class="list">
      getPageByHash([hash]) : 依照 url 的 hash 判斷目前的 page
      <input id="getPageBtn" type="button" value="Get Page Name" />
    </div>
    <div class="list">
      getSearchByHash([hash]) : 依照 url 的 hash 判斷目前的 search
      <input id="getSearchBtn" type="button" value="Get Search" />
    </div>
    <div class="list">
      parseUrlSearch() : 依照 url 的 hash 裡面的 search 轉為 obj
      <input id="getSearchObjBtn" type="button" value="Get SearchObj" />
    </div>
    <div class="list">regPrePage(註冊名稱, fn) : 註冊每次次換頁前要執行的 fn</div>
    <div class="list">regAftPage(註冊名稱, fn) : 註冊每次換頁後要執行的 fn</div>
    <div class="list">regPage(註冊頁面, fn) : 註冊頁面要執行的 fn</div>
    <div class="list">
      goPage([頁面名稱]) : 換頁, 沒參數時會依據 url 的 hash 自動判斷
      <input id="goPageBtn1" type="button" value="goPage('router')" />
      <input id="goPageBtn2" type="button" value="goPage()" />
      <input id="goPageBtn3" type="button" value="goPage('router?name=pikachu&age=200')" />
    </div>
    <div class="list">
      blockGoPage() : 呼叫後, 執行 router.goPage 不會換頁
      <input id="blockGoPageBtn" type="button" value="Block Go Page" />
    </div>
    <div class="list">
      approveGoPage() : 呼叫後, 所有的 router.goPage 可以換頁  
      <input id="approveGoPageBtn" type="button" value="Approve Go Page" />
    </div>
  </div>
</div>