.mainTitle cf.routeAnimate
.content
  .title 簡介
  div
    | 擴充換頁效果, 換頁功能請先參考 cf.router
.content
  .title 函式
  div
    .tip2
      | left([opt={}]): 頁面左移換場效果
      #setLeftBtn.btn2 設定換頁效果
    .subTitle1 opt 參數
    div
      div duration: 換頁時間, 預設 0.8 秒
    .tip2
      | right([opt={}]): 頁面右移換場效果
      #setRightBtn.btn2 設定換頁效果
    .subTitle1 opt 參數
    div
      div duration: 換頁時間, 預設 0.8 秒
    .tip2
      | scale([opt={}]): 縮放換場效果
      #setScaleBtn.btn2 設定換頁效果
    .subTitle1 opt 參數
    div
      div duration: 換頁時間, 預設 0.8 秒
    .tip2
      | fade([opt={}]): fade 換場效果
      #setFadeBtn.btn2 設定換頁效果
    .subTitle1 opt 參數
    div
      div duration: 換頁時間, 預設 0.8 秒
    .tip2
      | clear([opt={}]): 清除換場效果
      #setClearBtn.btn2 設定換頁效果