<div class="mainTitle">cfAddrDropdown</div>
<div class="content">
  <div class="title">示範</div>
  <div>
    <div class="subTitle2">預設</div>
    <div class="subContent">
      <select id="city1"></select>
      <select id="area1"></select>
    </div>

    <div class="subTitle2">包含離島</div>
    <div class="subContent">
      <select id="city2"></select>
      <select id="area2"></select>
    </div>
    <div class="subTitle2">包含區碼</div>
    <div class="subContent">
      <select id="city3"></select>
      <select id="area3"></select>
    </div>
  </div>
</div>
<div class="content">
  <div class="title">簡介</div>
  <div>
    台灣地址下拉選單, 可設置是否包含離島
  </div>
</div>
<div class="content">
  <div class="title">參數</div>
  <div>
    <div class="tip4">$('xxx').cfAddrDropdown($cityDom, $areaDom,[opt={}]);</div>
    <div>$cityDom: 放置城市的 &lt;select&gt; 容器</div>
    <div>$areaDom: 放置地區的 &lt;select&gt; 容器</div>
    <div class="subTitle1">opt 參數</div>
    <div>
      <div>defCityText: 縣市選單初始文字, 預設 '請選擇縣市'</div>
      <div>defCityVal: 縣市選單初始值, 預設 ''</div>
      <div>defAreaText: 地區選單初始文字, 預設 '請選擇區域'</div>
      <div>defAreaVal: 地區選單初始值, 預設 ''</div>
      <div>isIncludeIsland: 是否包含離島, 預設 false</div>
      <div>isWithCode: 地區選單是否要包含區碼, 預設 false</div>
    </div>
  </div>
</div>