<div class="mainTitle">cfCircleShow</div>
<div class="content">
  <div class="title">簡介</div>
  <div>
    DOM circle 輪播效果<br/>
  </div>
</div>
<div class="content">
  <div class="title">參數</div>
  <div>
    $targetList: 要輪播的 DOM Array
    opt: options
    <div class="subTitle1">opt 參數</div>
    <div>
      <div>zIndex: 當前 $target 的 z-index, 預設 999</div>
      <div>radios: 旋轉半徑, 預設 100</div>
      <div>duration: 移動時間, 預設 1</div>
      <div>minBrightness: 最後面的 DOM 的亮度百分比, 預設 50</div>
      <div>degreeTop: 每個 DOM 的 top 位移量, 預設 0</div>
      <div>minScale: 最後面的 $target 的 scale, 預設 1</div>
      <div>minScale: TweenMax ease 效果</div>
      <div>cb: 每次移動的 cb($target, i), 可取得每個 DOM 及該 DOM 目前的 index</div>
    </div>
  </div>
</div>
<div class="content">
  <div class="title">函式</div>
  <div>
    <div class="tip2">
      next(): 顯示下一個內容
      <span class="codeLink">範例</span>
    </div>
    <div class="codeTarget">
      var cir = $('xxx').cfCircleShow([...]);<br/>
      cir.next();
    </div>
    <div class="tip2">
      prev(): 顯示上一個內容
      <span class="codeLink">範例</span>
    </div>
    <div class="codeTarget">
      var cir = $('xxx').cfCircleShow([...]);<br/>
      cir.prev();
    </div>
    <div class="tip2">
      getCurrentIndex(): 取得目前內容的 index
      <span class="codeLink">範例</span>
    </div>
    <div class="codeTarget">
      var cir = $('xxx').cfCircleShow([...]);<br/>
      var index = cir.getCurrentIndex();
    </div>
    <div class="tip2">
      autoPlay(ms, [isNext = true]): 自動輪播
      <span class="codeLink">範例</span><br/>
    </div>
    <div class="subTitle1">參數</div>
    <div>
      <div>ms: 每次移動的毫秒數, 預設 1000</div>
      <div>isNext: 輪播方向, true 為順時針</div>
    </div>
    <div class="codeTarget">
      var cir = $('xxx').cfCircleShow([...]);<br/>
      cir.autoPlay();
    </div>
    <div class="tip2">
      stopPlay(): 停止輪播
      <span class="codeLink">範例</span>
    </div>
    <div class="codeTarget">
      var cir = $('xxx').cfCircleShow([...]);<br/>
      cir.autoPlay();<br/>
      ...<br/>
      cir.stopPlay();
    </div>
  </div>
</div>
<div class="content">
  <div class="title">示範</div>
  <div>
    <div class="btn" id="nextBtn">next</div>
    <div class="btn" id="prevBtn">prev</div>
    <div class="btn" id="autoPlay1Btn">autoPlay</div>
    <div class="btn" id="autoPlay2Btn">autoPlay反方向</div>
    <div class="btn" id="stopPlayBtn">stop</div>
    <div class="btn" id="getCurrentIndexBtn">getCurrentIndex</div>
    <div class="subContent">Current Index: <span id="currentIndex"></span></div>
    <div id="demo1">
      <div class="circleDom"></div>
      <div class="circleDom"></div>
      <div class="circleDom"></div>
      <div class="circleDom"></div>
    </div>
  </div>
</div>