
<div class="mainTitle">cfJumpNum</div>
<div class="content">
  <div class="title">示範</div>
  <div>
    <div class="separator2"></div>
    <div class="btn2" id="jumpNumBtn">intervalNum</div>
    <div class="btn2" id="addNumBtn">intervalAddNm</div><span id="jumpNum">0</span>
  </div>
</div>
<div class="content">
  <div class="title">簡介</div>
  <div>數字會亂跳, 最後顯示結果</div>
</div>
<div class="content">
  <div class="title">參數</div>
  <div>
    <div class="tip4">$('xxx').cfJumpNum()</div>
  </div>
</div>
<div class="content">
  <div class="title">函式</div>
  <div>
    <div class="tip2">intervalNum(targetNum, [opt = {}]): 在指定的時間內, 數字會亂跳, 時間到會顯示目標數字</div>
    <div class="subTitle4">參數</div>
    <div>
      <div>targetNum: 最後要顯示的數字</div>
      <div class="subTitle1">opt 參數</div>
      <div>
        <div>ms: 每幾毫秒跳一次, 預設 100</div>
        <div>range: 每次增加的數字範圍, 預設 1</div>
      </div>
    </div>
    <div class="tip2">intervalAddNm(targetNum, [opt = {}]): 在指定的時間內, 數字會亂數增加到目標數字為止</div>
    <div class="subTitle4">參數</div>
    <div>
      <div>targetNum: 最後要顯示的數字</div>
      <div class="subTitle1">opt 參數</div>
      <div>
        <div>ms: 每幾毫秒跳一次, 預設 100</div>
        <div>range: 跳動的數字範圍, 預設 100000</div>
      </div>
    </div>
  </div>
</div>