
<div class="mainTitle">cfMouseStyle</div>
<div class="content">
  <div class="title">示範</div>
  <div><span class="codeLink">程式範例</span>
    <div class="codeTarget">
      <div>$mouseArea = $('#mouseArea');</div>
      <div>$mouse = $('#mouse').attr('src', 'images/hand.png');</div>
      <div>$mouseArea.cfMouseStyle($mouse);</div>
    </div><img id="mouse"/>
    <div class="block" id="mouseArea">This is mouseArea</div>
  </div>
</div>
<div class="content">
  <div class="title">簡介</div>
  <div>客製化滑鼠樣式</div>
</div>
<div class="content">
  <div class="title">參數</div>
  <div>
    <div class="tip5">$(xxx).cfMouseStyle($mouse, [opt = {}])</div>
    <div>$mouse: 客製化的滑鼠 DOM</div>
    <div class="subTitle1">opt 參數</div>
    <div>
      <div>delay: $mouse 延遲移動時間</div>
    </div>
  </div>
</div>