
<div class="mainTitle">cfScrollbar</div>
<div class="content">
  <div class="title">示範</div>
  <div>
    <div class="block" id="outer">
      <div id="inner1"></div>
      <div id="inner2"></div>
    </div>
  </div>
</div>
<div class="content">
  <div class="title">簡介</div>
  <div>
    <div>自訂捲軸樣式, 客製化外掛 jquery.mCustomScrollbar 使用方式</div>
    <div>Depend on<a href="http://manos.malihu.gr/jquery-custom-content-scroller/" target="_blank">jquery.mCustomScrollbar</a></div>
  </div>
</div>
<div class="content">
  <div class="title">參數</div>
  <div>
    <div class="tip4">$('xxx').cfScrollbar([styleOpt = {}], [scrollBarOpt = {}])</div>
    <div class="tip1">styleOpt 參數
      <div>
        <div>name: 捲軸名稱</div>
        <div>barCss: 捲軸按鈕樣式</div>
        <div>lineCss: 捲軸樣式</div>
      </div>
    </div>
    <div>scrollBarOpt: 同 jquery.mCustomScrollbar 參數</div>
  </div>
</div>