.mainTitle cfSyncMove
.content
  .title 示範
  div
.content
  .title 簡介
  div 計算滑鼠和基準點的距離，同步移動 DOM
.content
  .title 參數
  div
    .tip4 $('xxx').cfSyncMove(nameSpace, [opt = {}])
.content
  .title 函式
  div