.mainTitle cf
.content
  .title 屬性
  div
    div $$config: 從 config 讀取到的設定 
    div $$data: 儲存資料, 類似 cookie, 但頁面刷新後會清空 
    div $window: 同 $(window) 
    div $document: 同 $(document) 
    div $body: 同 $('body')
    div isLocal: 是否為 localhost
    div isLocalTest: 是否為 local test 模式(由 config 設定)
    div isProd: 用來判定目前所在的網址是否為 production
    div isHttps: 當前網址是否為 https 
    div nowUrlPath: 所在網址, 不包含 protocol, hash 和 search, e.g. 'carozozo.github.io/caro-front/'
    div nowUrl: 所在網址, 不包含 hash 和 search, e.g. 'https://carozozo.github.io/caro-front/'
.content
  .title 設定檔
  div
    div isLocalTest: 是否為 local 測試模式,
      span.tip3  只在 local 有效
    div localUrlPath: 用來判定目前所在的網址是否為 local,
      span.tip3 最後面加上*代表只要前面符合就成立
    div prodUrlPath: 用來判定目前所在的網址是否為 production,
      span.tip3 最後面加上*代表只要前面符合就成立
    div trace: 追蹤項目, false = 不追蹤, true = 全部, str = 指定追蹤項目, str-array = 追蹤複數項目;
      span.tip3  搭配 cf.genTraceFn
.content
  .title 函式
  div
    .tip2
      | require(str): 載入 global 變數, 避免直接呼叫 global 變數以增加效能 ;
      span.codeLink 程式範例
    .codeTarget
      .div $(function(){
      .tab1.tip2   // 將 global 變數 $ 轉為 local 變數使用
      .tab2 var $ = cf.require('$');
      .tab2 $('.xxx').html('This is demo');
      div });
      .separator2
    .tip2
      | data(key, [val]): 讀取 or 設置資料, 用於跨檔案存取 ;
      span.codeLink 程式範例
    .codeTarget
      .tip2 // 設置 data
      div cf.data('name', 'caro');
      div cf.data('file', {a:1, b:2});
      .tip2 // 在其他 js 可取得 data
      div var name = cf.data('name');  
        span.tip3 // 'caro'
      div var file = cf.data('file');  
        span.tip3 // {a:1, b:2}
    .tip2
      | regDocReady(fn, [執行順序=50]): 
      span.tip1 $( document ).ready()
      | 進階版, 當頁面載入完畢時要執行的 fn ;
      span.codeLink 程式範例
    .codeTarget
      .tip2 // 當整個頁面讀取完成之後, 會先 alert 'b', 然後 alert 'a'
      div cf.regDocReady(function(){
      .tab1 alert('a');
      div });
      div cf.regDocReady(function(){
      .tab1 alert('b');
      div }, 1);
    .tip2 genTraceFn(訊息標題): 產生 trace 用的 fn, 會在 console 顯示訊息

      span.codeLink 程式範例
    .codeTarget
      .subTitle2 假設 cf_config 裡的 cf 有設定 trace = 'caro1'
      div
        .tip2 // 產生 trace 程式, 註冊名稱為 caro1 和 caro2
        div var trace1 = cf.genTraceFn('caro1');
        div var trace2 = cf.genTraceFn('caro2');
        .separator1
        div var name = 'Caro';
        div trace1('My name is', name);  
          span.tip3 // 'caro1: My name is Caro'
        div trace2('My name is', name);  
          span.tip3 // 不會列印
        .separator1
        .tip2 // 一定會 log error 訊息
        div trace1.error('Got error');  
          span.tip3 // 'caro1: Got error'
        div trace2.error('Got error');  
          span.tip3 // 'caro2: Got error'
    .tip2
      | regLib(註冊名稱, fn): 註冊函式 庫;
      span.codeLink 程式範例
    .codeTarget
      .tip2 // 在其他地方可使用 cf.money.get() 和 cf.money.set()
      div cf.regLib('money', function(cf){
      .tab1 var self = {};
      .tab1 var money = 1000;
      .tab1 self.get = function(){ return money; }
      .tab1 self.set = function(m){ money = m; }
      .tab1 return self;
      div });
      .separator2
      div var m1 = cf.money.get();  
        span.tip3 // 1000
      div cf.money.set(2000);
      div var m2 = cf.money.get();  
        span.tip3 // 2000
    .tip2
      | regServ(註冊名稱, fn): 註冊 service 函式 庫;
      span.codeLink 程式範例
    .codeTarget
      .tip2 // 在其他地方可使用 cf.money.get() 和 cf.money.set()
      div cf.regServ('money', function(cf){
      .tab1 var self = {};
      .tab1 var money = 1000;
      .tab1 self.get = function(){ return money; }
      .tab1 self.set = function(m){ money = m; }
      .tab1 return self;
      div });
      .separator2
      div var m1 = cf.money.get();  
        span.tip3 // 1000
      div cf.money.set(2000);
      div var m2 = cf.money.get();  
        span.tip3 // 2000
    .tip2
      | regCtrl(註冊名稱, fn, [要載入的 .html頁面]): 註冊 controller;
      span.codeLink 程式範例
    .codeTarget
      .tip2 // 宣告 menu controller 外掛
      div cf.regCtrl('menu', function(arg1, arg2){
      .tab1 var self = this;
      .tab1.tip2 // 可從 this 取得 cf
      .tab1 var cf = self.cf;  
      .tab1 ...
      .tab1 ...
      div });
      .tip2 // 產生 menu 物件並放到 body
      - var dom = "'<div/>'";
      div $(#{dom}).menu().appendTo(cf.$body);
    .tip2
      | regModule(註冊名稱, fn, [要載入的 .html頁面]): 註冊 module;
      span.codeLink 程式範例
    .codeTarget
      .tip2 // 宣告 menu module 外掛, 被使用時會寫入 template/menu.html 裡面的 layout
      div cf.regModule('menu', function(arg1, arg2){
      .tab1 var self = this;
      .tab1.tip2 // 可從 this 取得 cf
      .tab1 var cf = self.cf;  
      .tab1 ...
      .tab1 ...
      div }, 'template/menu.html');
      .tip2 // 產生 menu 物件並放到 body
      - var dom = "'<div/>'";
      div $(#{dom}).menu().appendTo(cf.$body);
    .tip2
      | config(註冊名稱, [config-obj]): 註冊 / 讀取 config;
      span.codeLink 程式範例
    .codeTarget
      .tip2 // 設置 config
      div cf.config('page', {
      .tab1 templateDir: 'template/',
      .tab1 container: 'container'
      div });
      .tip2 // 在其他 js 可取得 config
      div var templateDir = cf.config('page').templateDir;  
        span.tip3 // 'template/'
      div  var container = cf.config('page').container;  
        span.tip3 // 'container'
    .tip2
      | regDifCfg(url, 設定): 依據不同的 url 載入 config;
      span.codeLink 程式範例
    .codeTarget
      .tip2 // 設置 config
      div cf.config('page', {
      .tab1 templateDir: 'template/',
      .tab1 container: 'container'
      div });
      .tip2 // 設置網址對應 config
      div cf.regDifCfg('demo.com.tw', {
      .tab1 page: {
      .tab2 templateDir: 'template2/',
      .tab2 container: 'container2'
      .tab1 }
      div });
      .tip2 // 當網址是 http://demo.com.tw/ 或 https://demo.com.tw/ 時, 會載入對應的 config
      div var templateDir = cf.config('page').templateDir;  
        span.tip3 // 'template2/'
      div var container = cf.config('page').container;  
        span.tip3 // 'container2'
      .tip2 // 其他網址則取得預設的 config
      div var templateDir = cf.config('page').templateDir;  
        span.tip3 // 'template/'
      div var container = cf.config('page').container;  
        span.tip3 // 'container'