.mainTitle cf.ga
.content
  .title 簡介
  div
    | 客製化的 tracking for Google Analytics
    a.link(href='https://www.google.com.tw/intl/zh-TW_ALL/analytics/index.html', target='_blank')  官方文件
.content
  .title 設定檔
  div
    div isDownloadGa: 是否下載 ga 函式庫
    div gaId: 網站所使用的 ga-id
.content
  .title 函式
  div
    .tip2 page(pageName): 發送 page view
    .tip2 event(category, action, label): 發送 event