.mainTitle cf.routeAnimate
.content
  .title 簡介
  div
    div 擴充換頁效果, 換頁功能請先參考 cf.router
    div Depend on
      a(href='http://greensock.com/gsap', target='_blank') gsap
.content
  .title 函式
  div
    .tip2
      | left([opt = {}]): 頁面左移換場效果
    .subTitle1 opt 參數
    div
      div duration: 換頁時間, 預設 0.8 秒
    .tip2
      | right([opt = {}]): 頁面右移換場效果
    .subTitle1 opt 參數
    div
      div duration: 換頁時間, 預設 0.8 秒
    .tip2
      | scale([opt = {}]): 縮放換場效果
    .subTitle1 opt 參數
    div
      div duration: 換頁時間, 預設 0.8 秒
        div rotation: 旋轉角度, 預設 0
    .tip2
      | fade([opt = {}]): fade 換場效果
    .subTitle1 opt 參數
    div
      div duration: 換頁時間, 預設 0.8 秒
    .tip2
      | slide([opt = {}]): slide 換場效果
    .subTitle1 opt 參數
    div
      div duration: 換頁時間, 預設 0.8 秒
    .tip2
      | piece([opt = {}]): 切片換場效果
    .subTitle1 opt 參數
    div
      div duration: 換頁時間, 預設 0.8 秒
      div pieceX: x 要切成幾等份
      div pieceY: y 要切成幾等份
    .tip2
      | clear([opt = {}]): 清除換場效果