#bg {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 5;
}
#bgFloor {
  position: absolute;
  top: 50%;
}
.bgBlock,
.bgBlock1,
.bgBlock2 {
  position: absolute;
  width: 20px;
  height: 20px;
}
.bgBlock1 {
  background: rgba(164,164,164,0.2);
}
.bgBlock2 {
  background: rgba(125,125,125,0.2);
}
