.colorGray1,
.tip1 {
  color: #bdbdbd;
}
.colorGray2 {
  color: #848484;
}
.colorGreen1,
.tip2 {
  color: #8cbb2e;
}
.colorGreen2 {
  color: #628320;
}
.colorRed1,
.tip3 {
  color: #c72228;
}
.colorRed2 {
  color: #8b181c;
}
.colorBlue1,
.link,
.tip4 {
  color: #34bfc7;
}
.colorBlue2 {
  color: #24798b;
}
.colorYellow1,
.tip5 {
  color: #c7c738;
}
.colorYellow2 {
  color: #8b8b27;
}
.colorWhite,
body,
.btn,
.btn2 {
  color: #e5e5e5;
}
.colorDark,
.block,
.inlineBlock {
  color: #1e1e1e;
}
.bgGray1,
.subTitle1 {
  background-color: #848484;
}
.bgGray2 {
  background-color: #4c4c4c;
}
.bgGreen1,
.subTitle2 {
  background-color: #628320;
}
.bgGreen2 {
  background-color: #384b12;
}
.bgRed1,
.subTitle3 {
  background-color: #8b181c;
}
.bgRed2 {
  background-color: #500e10;
}
.bgBlue1,
.subTitle4 {
  background-color: #24798b;
}
.bgBlue2 {
  background-color: #144550;
}
.bgYellow1,
.subTitle5 {
  background-color: #8b8b27;
}
.bgYellow2 {
  background-color: #505016;
}
.bgWhite,
.block,
.inlineBlock {
  background-color: #e5e5e5;
}
.bgDark,
body {
  background-color: #1e1e1e;
}
body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.3em;
  font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
  min-width: 640px;
}
select {
  font-size: 1em;
  padding: 2px 10px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10px;
  min-width: 50px;
}
input[type='text'] {
  height: 26px;
  border-radius: 10px;
  padding: 0 10px;
  font-size: 0.9em;
}
.btn {
  cursor: pointer;
  display: inline-block;
  background: -webkit-linear-gradient(top, rgba(40,40,40,0.5), rgba(35,35,35,0.4) 50%, rgba(10,10,10,0.4) 50%, rgba(0,0,0,0.5));
  padding: 2px 18px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1em;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.75);
  margin-left: 5px;
  margin-right: 5px;
}
.btn:hover {
  background: -webkit-linear-gradient(top, rgba(40,40,40,0.9), rgba(35,35,35,0.8) 50%, rgba(10,10,10,0.8) 50%, rgba(0,0,0,0.9));
}
.btn2 {
  cursor: pointer;
  display: inline-block;
  background: -webkit-linear-gradient(top, rgba(230,230,230,0.5), rgba(177,177,177,0.4) 50%, rgba(108,108,108,0.4) 50%, rgba(147,147,147,0.5));
  padding: 2px 18px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1em;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.75);
  margin-left: 5px;
  margin-right: 5px;
}
.btn2:hover {
  background: -webkit-linear-gradient(top, rgba(201,201,201,0.9), rgba(144,144,144,0.8) 50%, rgba(77,77,77,0.8) 50%, rgba(117,117,117,0.9));
}
.input40 {
  width: 40px;
  height: 26px;
  border-radius: 10px;
  padding: 0 10px;
  font-size: 0.9em;
}
.input60 {
  width: 60px;
  height: 26px;
  border-radius: 10px;
  padding: 0 10px;
  font-size: 0.9em;
}
.input80 {
  width: 80px;
  height: 26px;
  border-radius: 10px;
  padding: 0 10px;
  font-size: 0.9em;
}
.input100 {
  width: 100px;
  height: 26px;
  border-radius: 10px;
  padding: 0 10px;
  font-size: 0.9em;
}
.input120 {
  width: 120px;
  height: 26px;
  border-radius: 10px;
  padding: 0 10px;
  font-size: 0.9em;
}
.link {
  cursor: pointer;
  text-shadow: 0 0 5px rgba(104,182,255,0.5);
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: underline;
}
#container {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  min-width: 600px;
  padding: 20px 10px;
}
.mainTitle {
  overflow: hidden;
  font-size: 2em;
  line-height: 1.5em;
  border-bottom: solid #e5e5e5;
  z-index: 100;
  padding-left: 10px;
  height: 57px;
}
.content {
  margin-top: 6px;
  padding: 4px 10px 0;
}
.subContent {
  margin-top: 3px;
  padding: 2px 10px 0;
}
.separator1 {
  height: 5px;
}
.separator2 {
  height: 10px;
}
.separator3 {
  height: 20px;
}
.separator4 {
  height: 30px;
}
.tab1 {
  padding-left: 10px;
}
.tab2 {
  padding-left: 20px;
}
.tab3 {
  padding-left: 30px;
}
.tab4 {
  padding-left: 40px;
}
.tab5 {
  padding-left: 50px;
}
.title {
  margin-top: 5px;
  font-size: 1.5em;
  padding: 5px 10px;
  line-height: 1.2em;
  border-radius: 5px;
}
.title1 {
  background: -webkit-linear-gradient(45deg, #4c4c4c, #bdbdbd, rgba(255,255,255,0) 95%);
}
.title2 {
  background: -webkit-linear-gradient(45deg, #384b12, #8cbb2e, rgba(255,255,255,0) 95%);
}
.title3 {
  background: -webkit-linear-gradient(45deg, #500e10, #c72228, rgba(255,255,255,0) 95%);
}
.title4 {
  background: -webkit-linear-gradient(45deg, #144550, #34bfc7, rgba(255,255,255,0) 95%);
}
.title5 {
  background: -webkit-linear-gradient(45deg, #505016, #c7c738, rgba(255,255,255,0) 95%);
}
.subTitle1 {
  color: #e5e5e5;
  margin: 20px 0 10px;
  padding: 5px 10px;
  line-height: 2em;
}
.subTitle2 {
  color: #e5e5e5;
  margin: 20px 0 10px;
  padding: 5px 10px;
  line-height: 2em;
}
.subTitle3 {
  color: #e5e5e5;
  margin: 20px 0 10px;
  padding: 5px 10px;
  line-height: 2em;
}
.subTitle4 {
  color: #e5e5e5;
  margin: 20px 0 10px;
  padding: 5px 10px;
  line-height: 2em;
}
.subTitle5 {
  color: #e5e5e5;
  margin: 20px 0 10px;
  padding: 5px 10px;
  line-height: 2em;
}
.tip1 {
  font-weight: bolder;
}
.tip2 {
  font-weight: bolder;
}
.tip3 {
  font-weight: bolder;
}
.tip4 {
  font-weight: bolder;
}
.tip5 {
  font-weight: bolder;
}
.block,
.inlineBlock {
  margin: 10px 0;
  padding: 10px;
  width: 90%;
  min-width: 200px;
  overflow: auto;
}
.inlineBlock {
  display: inline-block;
}
@media screen and (max-width: 730px) {
  .linkWord {
    display: none;
  }
}
