body {
  margin: 0;
  padding: 0;
  background: rgb(21, 25, 24) 0 0;
  color: #eaeaea;
  font-size: 18px;
  line-height: 2;
  font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
}

/* Header */
header {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px dashed #b5e853;
  padding: 20px 0 20px 10px;
  z-index: 9999;

  background: linear-gradient(90deg, #4c524d, #292f2b, #4c524d);
  background-size: 600% 600%;
  -webkit-animation: headerBgColor 15s ease infinite;
  -moz-animation: headerBgColor 15s ease infinite;
  animation: headerBgColor 15s ease infinite;
}

header span {
  margin: 0 20px;
}

#headerTitle {
  font-size: 2em;
  line-height: 1.5;
  font-weight: bold;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #b5e853;
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
}

.headerBtn {
  display: inline-block;
  text-align: center;
  margin: 0;
  cursor: pointer;
  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.3), rgba(35, 35, 35, 0.3) 50%, rgba(10, 10, 10, 0.3) 50%, rgba(0, 0, 0, 0.3));
  padding: 8px 18px;
  border-radius: 50px;
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-bottom: 2px solid rgba(0, 0, 0, 0.7);
  border-top: 2px solid rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 0.8);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
}

.headerBtn:hover {
  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.6), rgba(35, 35, 35, 0.6) 50%, rgba(10, 10, 10, 0.8) 50%, rgba(0, 0, 0, 0.8));
}

.headerBtn .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 4px 8px 0 0;
  float: left;
}

.btn-github .icon {
  opacity: 0.6;
  background: url("../images/blacktocat.png") 0 0 no-repeat;
}

/* Buttons */
.btn {
  cursor: pointer;
  display: inline-block;
  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.8), rgba(35, 35, 35, 0.7) 50%, rgba(10, 10, 10, 0.7) 50%, rgba(0, 0, 0, 0.8));
  padding: 0 18px;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-bottom: 2px solid rgba(0, 0, 0, 0.7);
  border-top: 2px solid rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 0.8);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
  margin-left: 5px;
  margin-right: 5px;
}

.btn:hover {
  color: #9fcb49;
  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.9), rgba(35, 35, 35, 0.8) 50%, rgba(10, 10, 10, 0.8) 50%, rgba(0, 0, 0, 0.9));
}

.btn2 {
  cursor: pointer;
  display: inline-block;
  background: -webkit-linear-gradient(top, rgba(230, 230, 230, 0.8), rgba(177, 177, 177, 0.7) 50%, rgba(108, 108, 108, 0.7) 50%, rgba(147, 147, 147, 0.8));
  padding: 0 18px;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-bottom: 2px solid rgba(0, 0, 0, 0.7);
  border-top: 2px solid rgba(0, 0, 0, 1);
  color: rgba(236, 236, 236, 0.8);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
  margin-left: 5px;
  margin-right: 5px;
}

.btn2:hover {
  color: #9fcb49;
  background: -webkit-linear-gradient(top, rgba(201, 201, 201, 0.9), rgba(144, 144, 144, 0.8) 50%, rgba(77, 77, 77, 0.8) 50%, rgba(117, 117, 117, 0.9));
}

.input60 {
  width: 60px;
  height: 26px;
  border-radius: 10px;
  padding: 0 10px;
  font-size: 0.9em;
}

/* Links */
.link {
  cursor: pointer;
  color: #63c0f5;
  text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
  margin-right: 5px;
  text-decoration: underline;
}

/* Container */
#container {
  margin-top: 100px;
  width: 90%;
  min-width: 600px;
  padding: 20px 10px;
}

/* Common */
.mainTitle {
  overflow: hidden;
  font-size: 2em;
  border-bottom: solid #ffffff;
  z-index: 100;
  height: 2em;
  padding-left: 10px;
}

.content {
  padding: 20px 10px 0;
}

.subContent {
  padding: 0 15px;
}

.title {
  font-size: 1.5em;
  margin: 0 0 10px 0;
  padding: 5px 10px;
  background: #555555;
}

.subTitle {
  margin: 20px 0 10px;
  padding: 5px;
  background: #ececec;
  color: #161616;
}

.subTitle2 {
  margin: 20px 0 10px;
  padding: 5px;
  background: #92bb43;
  color: #ececec;
}

.subTitle3 {
  margin: 20px 0 10px;
  padding: 5px;
  background: #a02721;
  color: #ececec;
}

.tip {
  color: #ececec;
  font-weight: bolder;
}

.tip2 {
  color: #92bb43;
  font-weight: bolder;
}

.tip3 {
  color: #a02721;
  font-weight: bolder;
}

.codeMark {
  color: #92bb43;
}

.code {
  margin: 10px 0;
  padding: 10px;
  background: #dddddd;
  width: 70%;
  min-width: 200px;
  color: #151515;
  overflow: auto;
}

@-webkit-keyframes headerBgColor {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes headerBgColor {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes headerBgColor {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}