.colorGray {
  color: #7d7d7d;
}
.colorGreen {
  color: #4f6a1a;
}
.colorRed {
  color: #8b181c;
}
.colorBlue {
  color: #227d83;
}
.colorYellow {
  color: #818124;
}
.colorDark {
  color: #252525;
}
