.menuBtnOuter,
#libBtnOuter,
#moduleBtnOuter {
  position: fixed;
  width: 100px;
  right: -45px;
  border-left: solid 3px;
  border-top: solid 3px;
  border-bottom: solid 3px;
  color: #e1e1e1;
  font-weight: bolder;
  z-index: 9999;
}
#libBtnOuter {
  top: 130px;
  background: #8b181c;
  border-color: #b5b5b5;
}
#moduleBtnOuter {
  top: 290px;
  background: #227d83;
  border-color: #b5b5b5;
}
.menuBtn,
#libBtn,
#moduleBtn {
  padding: 30px 15px;
  width: 25px;
  cursor: pointer;
  text-align: center;
}
.menuItemBox,
#libMenuItemBox,
#moduleMenuItemBox {
  width: 90%;
  height: 100%;
  text-align: center;
}
.menuItem {
  display: inline-block;
  cursor: pointer;
  font-size: 1.5em;
  text-align: center;
  padding: 15px;
  margin: 10px 10px;
  color: #e1e1e1;
  background: #252525;
  border: 3px solid #e1e1e1;
  min-width: 70px;
}
.menuItem:hover {
  color: #b5b5b5;
  background: #e1e1e1;
}
