#menuMain {
  position: fixed;
  right: 0;
  z-index: 9999;
  vertical-align: middle;
}

#menuBtn {
  padding: 20px 10px;
  cursor: pointer;
  text-align: center;
  color: #161616;
  background: #dddddd;
}

.menuItem {
  cursor: pointer;
  text-align: center;
  padding: 5px 10px;
  margin-top: 10px;
  color: #dddddd;
  background: #161616;
  border-top: 3px solid #dddddd;
  border-left: 3px solid #dddddd;
  border-bottom: 3px solid #dddddd;
  min-width: 70px;
  margin-left: auto;
  margin-right: 0;
}

.menuItem:hover {
  color: #161616;
  background: #dddddd;
}