.menu {
  position: fixed;
  right: 0;
  padding-bottom: 10px;
  z-index: 9999;
}
.menuItem {
  padding: 5px 10px;
  margin-top: 10px;
  color: #151515;
  background: linear-gradient(319deg, #e5f5f1, #6d8b6d, #e5f5f1);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 14s ease infinite;
  -moz-animation: AnimationName 14s ease infinite;
  animation: AnimationName 14s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:33% 0%}
  50%{background-position:68% 100%}
  100%{background-position:33% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:33% 0%}
  50%{background-position:68% 100%}
  100%{background-position:33% 0%}
}
@keyframes AnimationName {
  0%{background-position:33% 0%}
  50%{background-position:68% 100%}
  100%{background-position:33% 0%}
}