body {
  margin: 0;
  padding: 0;
  background-color: #fecc25;
  background-size: cover;
  overflow-x: hidden;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
}

input[type="button"] {
  font-size: 1.5em;
}

.cf-page {
  padding: 0 10px;
}

.title {
  position: fixed;
  width: 100%;
  top: 0;
  font-size: 2em;
  background-color: #fecc25;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: solid;
  z-index: 100;
}

.content {
  margin-top: 120px;
  padding-bottom: 20px;
}

.subTitle {
  font-size: 1.5em;
  margin: 15px 0;
}

.subTitle span {
  padding: 5px 10px;
  background: #555555;
}

.list {
  margin-left: 10px;
  height: 1.8em;
}