body {
  margin: 0;
  padding: 0;
  background-color: #fecc25;
  background-size: cover;
  overflow-x: hidden;
  font-size: 13px;
  line-height: 20px;
  color: #fff;
  font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
}

.cf-page {
  padding: 0 10px;
}

.content {
  height: 100%;
}