
<div id="menuBtnBox">
  <div id="libBtnOuter">
    <div id="libBtn">L<br/>i<br/>b<br/></div>
  </div>
  <div id="moduleBtnOuter">
    <div id="moduleBtn">M<br/>o<br/>d<br/>u<br/>l<br/>e<br/></div>
  </div>
</div>
<div id="libMenuItemBox">
  <div class="menuItem" id="cf">cf</div>
  <div class="menuItem" id="cookie">cf.cookie</div>
  <div class="menuItem" id="detect">cf.detect</div>
  <div class="menuItem" id="routeAnimate">cf.routeAnimate</div>
  <div class="menuItem" id="router">cf.router</div>
  <div class="menuItem" id="unit">cf.unit</div>
</div>
<div id="moduleMenuItemBox">
  <div class="menuItem" id="cfAddrDropdown">地址下拉選單</div>
  <div class="menuItem" id="cfCircleShow">轉盤輪播</div>
  <div class="menuItem" id="cfDateDropdown">日期下拉選單</div>
  <div class="menuItem" id="cfImgSwitch">切換圖片</div>
  <div class="menuItem" id="cfJumpNum">亂數數字效果</div>
  <div class="menuItem" id="cfListDom">資料列表</div>
  <div class="menuItem" id="cfModal">浮動視窗</div>
  <div class="menuItem" id="cfMouseStyle">客製化滑鼠</div>
  <div class="menuItem" id="cfPiece">切割效果</div>
  <div class="menuItem" id="cfPreLoad">檔案讀取</div>
  <div class="menuItem" id="cfRandomDrop">亂數水滴</div>
  <div class="menuItem" id="cfScale">同步縮放</div>
  <div class="menuItem" id="cfScroll">捲軸定位</div>
  <div class="menuItem" id="cfScrollbar">客製化捲軸</div>
  <div class="menuItem" id="cfSplitText">文字切割效果</div>
  <div class="menuItem" id="cfSwitchShow">輪播效果</div>
  <div class="menuItem" id="cfSyncMove">隨滑鼠同步移動</div>
  <div class="menuItem" id="cfSyncObjVal">監聽物件值並顯示</div>
  <div class="menuItem" id="cfValidator">表單驗證</div>
  <div class="menuItem" id="cfWheel">監聽滑鼠滾輪</div>
  <div class="menuItem" id="dom">dom</div>
</div>