
<div class="mainTitle">cfDateDropdown</div>
<div class="content">
  <div class="title">示範</div>
  <div>
    <div class="subTitle2">預設</div>
    <div><span class="dateDropdown"></span>
      <div class="btn2" id="getDateBtn">getDate</div>
      <div class="btn2" id="setDateBtn">setDate</div>
      <div class="btn2" id="disableAllBtn">disableAll</div>
      <div class="btn2" id="enableAllBtn">enableAll</div>
    </div>
    <div class="subTitle2">指定下拉選單</div>
    <div><span class="dateDropdown">
        <select class="day"></select>
        <select class="month"></select>
        <select class="year"></select></span><span class="codeLink">程式範例</span></div>
    <div class="codeTarget">
      <div>$('#xx').cfDateDropdown('xxx', {</div>
      <div class="tab1">$year: $dateDropdown.find('.year'),</div>
      <div class="tab1">$month: $dateDropdown.find('.month'),</div>
      <div class="tab1">$day: $dateDropdown.find('.day')</div>
      <div>});</div>
    </div>
    <div class="subTitle2">指定年份範圍</div>
    <div><span class="dateDropdown"></span><span class="codeLink">程式範例</span></div>
    <div class="codeTarget">
      <div>$('#xx').cfDateDropdown('xxx', {</div>
      <div class="tab1">startYear: 1999,</div>
      <div class="tab1">endYear: 2001</div>
      <div>});</div>
    </div>
    <div class="subTitle2">利用 onSetYear 和 onSetMonth</div>
    <div><span class="dateDropdown"></span><span class="codeLink">程式範例</span></div>
    <div class="codeTarget">
      <div>$('#xx').cfDateDropdown('xxx', {</div>
      <div class="tab1">onSetYear: function(i) {</div>
      <div class="tab2">if (i < 2000) {</div>
      <div class="tab3">return false;</div>
      <div class="tab2">}</div>
      <div class="tab1">},</div>
      <div class="tab1">onSetMonth: function(i) {</div>
      <div class="tab2">if (i > 3 && i < 10) {</div>
      <div class="tab3">return true;</div>
      <div class="tab2">}</div>
      <div class="tab1">onSetDay: function(i) {</div>
      <div class="tab2">if (i > 10) {</div>
      <div class="tab3">return false;</div>
      <div class="tab2">}</div>
      <div class="tab1">}</div>
      <div>});</div>
    </div>
  </div>
</div>
<div class="content">
  <div class="title">簡介</div>
  <div>
    <div>自動化日期下拉選單, 日期下拉選單的值會依照所選的年和月改變</div>
    <div>e.g. 閏年的2月, 日期範圍會是 1~29 而不是 1~28</div>
  </div>
</div>
<div class="content">
  <div class="title">參數</div>
  <div>
    <div class="tip4">$('xxx').cfDateDropdown(triggerName, opt = {})</div>
    <div>triggerName: 指定年和月在 on change 的 namespace, 避免多重觸發</div>
    <div class="subTitle">opt 參數</div>
    <div>
      <div>$year: 指定年份 &lt;select&gt; 容器, 未設置則由外掛自動產生</div>
      <div>$month: 指定月份 &lt;select&gt; 容器, 未設置則由外掛自動產生</div>
      <div>$day: 指定日期 <select< 容器, 未設置則由外掛自動產生</div>
      <div>startYear: 起始年份</div>
      <div>endYear: 結束年份</div>
      <div>onSetYear: 設置每個 year 的 options 時觸發的 cb, return true 會跳過, return false 則終止設置</div>
      <div>onSetMonth: 設置每個 month 的 options 時觸發的 cb, return true 會跳過, return false 則終止設置</div>
      <div>onSetDay: 設置每個 day 的 options 時觸發的 cb, return true 會跳過, return false 則終止設置</div>
    </div>
  </div>
</div>
<div class="content">
  <div class="title">函式</div>
  <div>
    <div class="tip2">setDate(year, month, day): 設置下拉選單選取的日期</div>
    <div class="tip2">getDate([separator='/']): 取得選擇的日期, 如沒選擇會回傳 null</div>
    <div class="tip2">disableAll(): disable 全部下拉選單</div>
    <div class="tip2">enableAll(): enable 全部下拉選單</div>
  </div>
</div>