
<div class="mainTitle">cfImgSwitch</div>
<div class="content">
  <div class="title">示範</div>
  <div>
    <div>
      <div class="separator2"></div>
      <div class="btn" id="switchImgBtn">switchImg</div>
      <div class="btn" id="switchImg1Btn">switchImg1</div>
      <div class="btn" id="autoSwitchBtn">autoSwitch</div>
      <div class="btn" id="stopSwitchBtn">stopSwitch</div>
    </div>
    <div class="subContent bgGray1">
      <div class="separator2"></div>
      <div id="imgBox"><img id="img"/></div>
    </div>
  </div>
</div>
<div class="content">
  <div class="title">簡介</div>
  <div>切換 &lt;img&gt; 圖片</div>
</div>
<div class="content">
  <div class="title">參數</div>
  <div>
    <div class="tip5">$('xxx').cfImgSwitch([path, path2...])</div>
    <div>path: 圖片路徑, e.g. '/images/a.jpg'</div>
  </div>
</div>
<div class="content">
  <div class="title">函式</div>
  <div>
    <div class="tip2">switchImg([i]): 切換圖片, i = 圖片 index, 不設置則自動換下一張</div>
    <div class="tip2">autoSwitch([ms=1000]): 定時切換圖片</div>
    <div class="tip2">stopSwitch(): 停止切換圖片</div>
  </div>
</div>