
<div class="mainTitle">cfModal</div>
<div class="content">
  <div class="title">示範</div>
  <div><span class="codeLink">開啟 modal 視窗</span>
    <div class="codeTarget">This is Modal</div>
  </div>
</div>
<div class="content">
  <div class="title">簡介</div>
  <div>modal 視窗</div>
</div>
<div class="content">
  <div class="title">參數</div>
  <div>
    <div class="tip4">$('xxx').cfModal([opt = {}])</div>
    <div class="subTitle1">opt 參數</div>
    <div>isClickClose: 是否點選內容之外的部分就 close modal, 預設 true</div>
    <div>befShow: 顯示視窗之前觸發的 cb(), return false 則不顯示</div>
    <div>aftShow: 顯示視窗之後觸發的 cb()</div>
    <div>befHide: 關閉視窗之前觸發的 cb(), return false 則不關閉</div>
    <div>aftHide: 關閉視窗之後觸發的 cb()</div>
  </div>
</div>
<div class="content">
  <div class="title">函式</div>
  <div>
    <div class="tip2">showModal(): 顯示視窗</div>
    <div class="tip2">hideModal(): 關閉視窗</div>
  </div>
</div>