
<div class="mainTitle">cfPiece</div>
<div class="content">
  <div class="title">示範</div>
  <div>
    <div>y 切成
      <input class="input40" id="particleY" type="text" value="3"/>等份,<span class="tab1">x 切成</span>
      <input class="input40" id="particleX" type="text" value="3"/>等份
      <div class="btn2" id="seperateBtn">分割</div>
      <div class="btn2" id="reverseBtn">回復</div>
    </div>
    <div class="separator1"></div>
    <div>滑鼠移到圖片上可看到切片的順序</div>
    <div class="separator1"></div><img id="blockMain" src="images/caro-front.png"/>
  </div>
</div>
<div class="content">
  <div class="title">簡介</div>
  <div>
    <div>切片效果, 切片後 $self 會隱藏</div>
    <div class="tip3">注意切片後為固定寬高, 只繼承 $self 的 css position</div>
    <div class="tip3">切片後請自行調整 css 以避免跑版</div>
  </div>
</div>
<div class="content">
  <div class="title">參數</div>
  <div>
    <div class="tip5">$('xxx').cfPiece([particleY = 3], [particleX = 3], [opt = {}]);<span class="codeLink">程式範例</span>
      <div class="codeTarget">
        <div class="subTitle2">html</div>
        <div>
          <div>&lt;div id='img' style='position:static;'&gt;...&lt;/div&gt;</div>
        </div>
        <div class="separator2"></div>
        <div class="subTitle2">js</div>
        <div>
          <div>var $img = $('#img').cfPiece(2, 3, {</div>
          <div class="tab1">befPiece: function(yIndex, xIndex) {</div>
          <div class="tab2">...</div>
          <div class="tab1">},</div>
          <div class="tab1">aftPiece: function($piece, yIndex, xIndex) {</div>
          <div class="tab2">...</div>
          <div class="tab1">}</div>
          <div>});</div>
        </div>
        <div class="separator2"></div>
        <div class="subTitle2">產生的切片 html 結構</div>
        <div>
          <div class="colorGray2">&lt;!-- $self 被設為隱藏 --&gt;</div>
          <div>&lt;div id='img' style='position:static; display:none;'&gt;...&lt;/div&gt;</div>
          <div class="colorGray2">&lt;!-- $img.$pieceContainer --&gt;</div>
          <div>&lt;div class='cfPieceContainer' style='position: static;'&gt;</div>
          <div class="tab1 colorGray2">&lt;!-- $img.$pieceInnerContainer --&gt;</div>
          <div class="tab1">&lt;div class='cfPieceInnerContainer' style='position: relative;'&gt;</div>
          <div class="tab2 colorGray2">&lt;!-- 每個產生的 $piece 切片 --&gt;</div>
          <div class="tab2">&lt;div class='cfPiece'&gt;...&lt;/div&gt;</div>
          <div class="tab1">&lt;/div&gt;</div>
          <div>&lt;/div&gt;</div>
        </div>
      </div>
    </div>
    <div>particleY: y 切成幾等份</div>
    <div>particleX: x 切成幾等份</div>
    <div class="subTitle1">opt 參數</div>
    <div>
      <div>pefPiece: 每次置入 $piece 前呼叫的 cb(yIndex, xIndex), return false 則不值置入</div>
      <div>aftPiece: 每次置入 $piece 後呼叫的 cb($piece, yIndex, xIndex)</div>
    </div>
    <div class="subTitle4">$self 附加屬性</div>
    <div>
      <div>$pieceContainer: 外部切片的容器, 繼承 $self 的 css position 屬性</div>
      <div>$pieceInnerContainer: 內部切片容器, 協助切片定位</div>
    </div>
  </div>
</div>
<div class="content">
  <div class="title">函式</div>
  <div>
    <div class="tip2">reversePiece: 回復成切割前的狀態</div>
  </div>
</div>