
<div class="mainTitle">cfScale</div>
<div class="content">
  <div class="title">示範</div>
  <div>
    <div class="inlineBlock" id="block">拖拉視窗觀看變化</div>
    <div id="infoBox"></div>
  </div>
</div>
<div class="content">
  <div class="title">簡介</div>
  <div>
    <div>隨目標縮放本身的大小, 預設目標為 $(window)
      <div class="tip3">本身的寬高請勿使用百分比, 以免影響效果</div>
    </div>
    <div>Depend on<a href="http://greensock.com/gsap" target="_blank">gsap</a></div>
  </div>
</div>
<div class="content">
  <div class="title">參數</div>
  <div>
    <div class="tip5">$('xxx').cfScale([opt = {}]);</div>
    <div class="subTitle1">opt 參數</div>
    <div>
      <div>$target: 要以哪個目標的大小為依據做 scale, 預設 $(window)</div>
      <div>startX: 當 $target 寬介於 startX 和 endX 時, 觸發 scale, 預設 1280</div>
      <div>endX: 當 $target 寬介於 startX 和 endX 時, 預設 1920</div>
      <div>startY: 當 $target 高介於 startY 和 endY 時, 觸發 scale, 預設 720</div>
      <div>endY: 當 $target 高介於 startY 和 endY 時, 觸發 scale, 預設 1080</div>
      <div>startScale: 最小 scale 值, 預設 1</div>
      <div>endScale: 最大 scale 值, 預設 1.2</div>
      <div>mode: scale 基準, 'min'=> scaleX scaleY 取最小, 'max'=> scaleX scaleY 取最大, 'x'=> 取 scaleX, 'y'=> 取 scaleY, 預設 'x'</div>
      <div>isScaleX: 是否縮放寬度, 預設 true</div>
      <div>isScaleY: 是否縮放高度, 預設 false</div>
      <div>duration: 每次執行 scale 的秒數, 預設 0.3</div>
      <div>befScale: scale 之前的 cb(infoObj), return false 會停止 scale</div>
      <div>aftScale: scale 之後的 cb(infoObj)</div>
      <div>basicWidth: 設置本身起始的 width, 預設取 $self.width()</div>
      <div>basicHeight: 設置本身起始的 height, 預設取 $self.height()</div>
    </div>
  </div>
</div>
<div class="content">
  <div class="title">函式</div>
  <div>
    <div class="tip2">updateScale(): 計算並執行 scale</div>
    <div class="tip2">bindScale(): 綁定 scale</div>
    <div class="tip2">unbindScale(): 不綁定 scale</div>
    <div class="tip2">setBasicWidth(width): 設定 scale width 起始值</div>
    <div class="tip2">setBasicHeight(height): 設定 scale height 起始值</div>
  </div>
</div>